<div *ngIf="formVisible" style="touch-action: none;">
  <div class="row" *ngIf="!paquetSignatCorrectament">
    <div class="col-3 text-right">
       <h3>Paquet: <span class="badge badge-secondary">{{paquetEditing.id}}</span></h3>
    </div>
    <div class="col-9">
      <dl class="row justify-content-center">
      <dt class="col-3 bg-light">Arribada:</dt>
      <dd class="col-6 bg-light mb-auto">{{paquetEditing.data_arribada | date: 'dd/MM/yyyy H:mm'}}</dd>
      <div class="w-100"></div>
      <dt class="col-3 ">Remitent:</dt>
      <dd class="col-6 mb-auto">{{paquetEditing.remitent}}</dd>
      <div class="w-100"></div>
      <dt class="col-3 bg-light">Destinatari:</dt>
      <dd class="col-6 bg-light mb-auto">{{paquetEditing.destinatari}}</dd>
      <div class="w-100"></div>
      <dt class="col-3">Quantitat:</dt>
      <dd class="col-6 mb-auto">{{paquetEditing.quantitat}}</dd>
      </dl>
    </div>
  </div>
    <div class="row justify-content-center" *ngIf="formVisible">
      <div class="col-md-6">
        <form [formGroup]="paquetForm" class="mb-1">
          <div class="form-group">
            <label for="dipositari">Dipositari</label>
            <input type="text" formControlName="dipositari" name="dipositari" id="dipositari" class="form-control">
          </div>
        </form>
      </div>
    </div>
    <div [attr.hidden]="formVisible?null:''">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <canvas #canvas></canvas>
        <canvas #canvasBlanc hidden></canvas>
      </div>
      <div class="col-md-6" *ngIf="qrCodePaquet!=''">
        <qrcode [qrdata]="qrCodePaquet" [size]="256" [level]="'M'" (click)="onAnar()"  style="cursor: pointer;" ></qrcode>
      </div>
    </div>
  </div>
    <div class="row justify-content-center" *ngIf="formVisible">
      <div class="col-md-6 text-center">
        <button type="button"
              [disabled]="!paquetForm.valid"
              [class]="!paquetForm.valid || senseSignar()?'btn btn-warning':'btn btn-success'"
              (click)="onSignar()" style="margin-left: 10px;">Signar</button>

        <button class="btn btn-secondary" type="button" (click)="onHideForm()" style="margin-left: 10px;">Cancel·lar</button>
      </div>
    </div>
  </div>

<div class="row mt-3" *ngIf="paquetSignatCorrectament && formVisible">
  <div class="col-sm-12 text-center">
    <ngb-alert type="success text-center">
      <h2><strong>El paquet s'ha signat correctament</strong></h2>
    </ngb-alert>
  </div>
  <div class="col-sm-12 text-center">
    <button class="btn btn-success" type="button" (click)="onHideForm()" style="margin-left: 10px;">Tancar</button>
  </div>
</div>
