<nav class="navbar navbar-expand-md navbar-dark bg-dark" >
    <h2><a class="navbar-brand d-none d-lg-block" href="#">PAQUETERIA</a></h2>
  
    <button class="navbar-toggler navbar-toggler-right" type="button" aria-controls="appNavigation" aria-expanded="!isCollapsed" aria-label="Toggle navigation" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="appNavigation" [ngbCollapse]="isCollapsed">
        <div class="navbar-nav mr-auto">
          <div class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Signats</a>
          </div>
          <div class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Per Signar</a>
          </div>
          <div class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">+ Nou Paquet</a>
          </div>
          <div class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Admin</a>
          </div>
          <div class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Baixades</a>
          </div>
        </div>
              <button class="btn btn-outline-danger" type="button" (click)="onSortir()">Sortir</button>
        </div>
</nav>
