h2{
    text-align: center;
    color: #333;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 30px;
}

@media (min-width: 576px) {
    .jumbotron {
      padding-bottom: 1em; 
      padding-top: 1em; 
  }
  }