<!--<app-canvas [width]=400 [height]=100></app-canvas>-->
<div class="jumbotron text-center" style="margin-bottom:0; max-height: 100px;">
  <h2>PAQUETERIA</h2>
</div>
<app-menu></app-menu>

<div class="ml-5 mr-5">
<!--   <div class="row">
      <div class="col-sm-12 text-left">
          <h2>PAQUETERIA</h2>
      </div>

  </div>-->
  <div class="row justify-content-center">
      <div class="col-sm-10">
          <router-outlet></router-outlet>
      </div>
  </div>
</div>
<div class="col-sm-4 toast-container absolute fixed-top align-self-end">
    <app-messages></app-messages>
</div>