<div class="row">
  <div class="col-sm-12">
<!--     <router-outlet></router-outlet> -->
</div>

</div>
<hr>
<div class="row mt-3 align-items-center">

 <div class="col-12">
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h3 class="navbar-brand">Paquets {{vistaActual}}</h3>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <button class="btn btn-primary mt-1" (click)="onChangeView()">Veure Paquets {{vistaSeguent}}</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-primary ml-lg-2 mt-1" (click)="onNouPaquet()">+ Nou Paquet</button>
          </li>
          <li  *ngIf="isAdmin" class="nav-item">
            <button class="btn btn-primary ml-lg-2 mt-1" (click)="onAdminClick()">Admin</button>
          </li>
          <li class="nav-item">
            <div class="input-group ml-lg-2 mt-1">
              <input class="form-control" type="text" name="searchInput" id="searchInput" [(ngModel)]="searchString" (keyup)="onBuscarKey($event)">
              <div class="input-group-append">
                <button *ngIf="!searching" class="btn btn-outline-secondary" style="cursor: pointer;" (click)="onBuscar()" type="button">
                  <fa-icon
                  [icon]="faSearch"
                  ngbTooltip="Cercar..."></fa-icon>
                </button>
                <button *ngIf="searching" class="btn btn-outline-secondary" style="cursor: pointer;" (click)="onCancelBuscar()" type="button">
                  <fa-icon
                  [icon]="faTimesCircle"
                  ngbTooltip="Cancel·lar cerca..."></fa-icon>
                </button>
              </div>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav ml-lg-2 mt-1">
          <li class="nav-item">
            <button class="btn btn-success ml-1 mr-1" type="button" (click)="onDescarreguesClick()">Baixades
            </button>
          </li>
          <li class="nav-item">
            <button class="btn btn-danger" type="button" (click)="onLogout()">
              <fa-icon [icon]="faPowerOff" class="text-white" style="cursor: pointer;"></fa-icon>Sortir
            </button>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<div class="row mt-3" *ngIf="paquets.length == 0">
  <div class="col-sm-12 text-center">
    <ngb-alert type="danger">
      <h2><strong>No hi ha paquets per signar!</strong></h2>
    </ngb-alert>
  </div>
</div>
<div class="row mt-3 p-1" >
    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 d-flex align-items-center justify-content-center">
      <ngb-pagination *ngIf="totalPaquets>itemsPerPage" 
        [collectionSize]="totalPaquets" 
        [(page)]="paginaActual" 
        [maxSize]="maxSizePagination"
        [pageSize]="itemsPerPage"
        [rotate]="true" [boundaryLinks]="true" (pageChange)="pageChanged()">

<ng-template ngbPaginationPrevious>Anterior</ng-template>
<ng-template ngbPaginationNext>Següent</ng-template>
<ng-template ngbPaginationFirst>Primer</ng-template>
<ng-template ngbPaginationLast>Últim</ng-template>
</ngb-pagination>
    </div>
</div>
<div class="text-center" *ngIf="isLoading">
  <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
    <span class="sr-only">Carregant...</span>
  </div>
</div>
<div class="row mt-3 align-content-center" *ngIf="!isLoading">
  <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
    <ul class="list-group">
      <li [@paquetAddAnimation] *ngFor="let paquet of paquets; let i = index" class="list-group-item" >
        <div class="row justify-content-center">
          <div class="col-sm" style="margin:10px 0px 0px 0px;">
            <div class="card">
              <div class="card-body">
                <dl class="row justify-content-center">
                  <div class="col-12">
                    <h3><span class="badge badge-secondary">{{paquet.id}}</span></h3>
                  </div>
                  <dt class="col-12 col-sm-3 bg-light">Arribada:</dt>
                  <dd class="col-12 col-sm-6 bg-light mb-auto">{{paquet.data_arribada | date: 'dd/MM/yyyy H:mm'}}</dd>
                  <div class="w-100"></div>
                  <dt class="col-12 col-sm-3">Destinatari:</dt>
                  <dd class="col-12 col-sm-6">{{paquet.destinatari + '\n'+ paquet.email}}</dd>
                  <div class="w-100"></div>
                  <dt class="col-12 col-sm-3 bg-light">Remitent:</dt>
                  <dd class="col-12 col-sm-6 bg-light mb-auto">{{paquet.remitent + '\n'+ paquet.emailremitent}}</dd>
                  <div class="w-100"></div>
                  <dt class="col-12 col-sm-3" *ngIf="paquet.data_lliurament!='0000-00-00 00:00:00'">Lliurament:</dt>
                  <dd class="col-12 col-sm-6" *ngIf="paquet.data_lliurament!='0000-00-00 00:00:00'">{{paquet.data_lliurament | date: 'dd/MM/yyyy H:mm'}}</dd>
              </dl>
              </div>

              <div class="card-footer">
                <div class="container">
                  <div class="row justify-content-sm-center">
                    <div class="col-4 col-sm-auto" *ngIf="!allowViewPaquet">
                      <fa-icon [icon]="faEdit"
                               class="fa-2x text-secondary"
                               style="cursor: pointer;"
                               (click)="onEditClick(paquet.id)"
                               ngbTooltip="Editar paquet"></fa-icon>
                    </div>
                    <div class="col-4 col-sm-auto" *ngIf="!allowViewPaquet">
                      <fa-icon [icon]="faHandHolding"
                               class="fa-2x"
                               style="cursor: pointer;"
                               (click)="onEntregarPaquet(paquet.id,'nomessignar')"
                               ngbTooltip="Entregar paquet"></fa-icon>
                    </div>

                    <div class="col-4 col-sm-auto" *ngIf="!allowViewPaquet && paquet.email!=''" >
                      <fa-icon [icon]="faEnvelope"
                            class="fa-2x"
                            style="cursor: pointer;"
                            (click)="onEnviarMail(paquet.id,confirmMailing)"
                            ngbTooltip="Reenviar correu-e"></fa-icon>
                    </div>

                    <div class="col-4 col-sm-auto" *ngIf="!allowViewPaquet" >
                      <fa-icon [icon]="faQrcode"
                            class="fa-2x"
                            style="cursor: pointer;"
                            (click)="onGenerarQr(i)"
                            ngbTooltip="Generar codi Qr"></fa-icon>
                    </div>
                    <div class="col-4 col-sm-auto" *ngIf="allowViewPaquet">
                      <fa-icon [icon]="faEye"
                               class="fa-2x text-secondary"
                               style="cursor: pointer;"
                               (click)="onViewClick(paquet.id)"
                               ngbTooltip="Veure paquet"></fa-icon>
                    </div>
                      <div class="col-4 col-sm-auto">
                        <fa-icon [icon]="faTrashAlt"
                            class="fa-2x text-danger"
                            style="cursor: pointer;"
                            (click)="onDeleteClick(paquet.id,confirmDeletion)"
                            ngbTooltip="Esborrar paquet"></fa-icon>
                      </div>
                </div>
                </div>
                </div>

            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <ng-template #confirmDeletion let-modalDel>
    <div class="modal-body text-center">
      <p>{{deleteModalMsg}}</p>
      <button type="button" class="btn btn-danger" (click)="modalDel.close()">Sí</button>
      <button type="button" class="btn btn-primary" (click)="modalDel.dismiss()" style="margin-left: 10px;">No</button>
    </div>
  </ng-template>
  <ng-template #confirmMailing let-modalMail>
    <div class="modal-body text-center">
      <p>{{mailModalMsg}}</p>
      <button type="button" class="btn btn-danger" (click)="modalMail.close()">Sí</button>
      <button type="button" class="btn btn-primary" (click)="modalMail.dismiss()" style="margin-left: 10px;">No</button>
    </div>
  </ng-template>
</div>
