<form [formGroup]="paquetForm" *ngIf="formVisible">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="data_arribada">Data Arribada</label>
        <input bsDatepicker [bsConfig]="{ dateInputFormat: 'D/M/YYYY' }" 
               type="text" formControlName="data_arribada" name="data_arribada" id="data_arribada" class="form-control">
      </div>
      <div class="form-group">
        <label for="remitent">Remitent</label>
        <input type="text" formControlName="remitent" name="remitent" id="remitent" class="form-control">
      </div>
      <div class="form-group">
        <label for="procedencia">Procedència</label>
        <input type="text" formControlName = "procedencia" name="procedencia" id="procedencia" class="form-control">
      </div>
      <div class="form-group">
        <label for="quantitat">Quantitat</label>
        <input type="number" formControlName = "quantitat"  name="quantitat" id="quantitat" class="form-control">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="mitja_arribada">Mitjà d'Arribada</label>
        <input type="text" formControlName = "mitja_arribada"  name="mitja_arribada" id="mitja_arribada" class="form-control">
      </div>
      <div class="form-group">
        <label for="referencia">Referencia</label>
        <input type="text" formControlName = "referencia"  name="referencia" id="referencia" class="form-control">
      </div>
      <div class="form-group">
        <label for="destinatari">Destinatari</label>
        <input type="text" formControlName = "destinatari"  name="destinatari" id="destinatari" class="form-control">
      </div>
      <div class="form-group">
        <label for="departament">Centre/Departament</label>
        <input type="text" formControlName = "departament"  name="departament" id="departament" class="form-control">
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-5 justify-content-left ">
        <button type="submit" class="btn btn-primary" >{{ editMode ? 'Modificar' : 'Añadir'}}</button>
        <!--<button *ngIf="editMode" class="btn btn-danger" type="button" (click)="onDelete()">Delete</button>-->
        <button class="btn btn-primary" type="button" (click)="onClear()" style="margin-left: 10px;">Limpiar</button>
        <button class="btn btn-secondary" type="button" (click)="onHideForm()" style="margin-left: 10px;">Cancelar</button>
      </div>
    </div>
</form>
<div class="container" *ngIf="!formVisible">
    <div class="row" >
      <div class="col-md-4 justify-content-left ">
        <button class="btn btn-primary" type="button" (click)="onShowForm()">+ Nou Paquet</button>
      </div>
    </div>
  </div>